.header {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    flex-direction: column;
}

.logo {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    padding: 5px 20px;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
}

.logo-mid {
    font-weight: bold;
    font-size: 200%;
    color: var(--black-color);
}






